@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body {
    background-image: url(".//assets/photos/thomas-millot-342582-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 70px;
    font-family: 'Shadows Into Light', cursive;
}
